.testimonial .items{
    padding: 30px;
    transition: 0.5s;
}
.testimonial .img{
    position: relative;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonial i{
    position: absolute;
    bottom: 0;
    left: 60px;
    color: #fff;
    background-color: #1eb2a6;
}
.testimonial .name{
    margin-top: 25px;
}
.testimonial .name h2{
    margin-bottom: 5px;
    font-size: 20px;
}
.testimonial .name span{
    color: #1eb2a6;
}
.testimonial #heading h3{
    color: #1eb2a6;
}
.testimonial p{
    color:grey;
    margin-top: 20px;
}
.testimonial .items:hover{
    cursor: pointer;
    color: #fff;
    background-color: #1eb2a6;
}
.testimonial .items:hover p,.testimonial .items:hover span {
    color:#fff;
}
.testimonial .items:hover i{
    color:#1eb2a6;
    background-color: #fff;
}